.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header > div{
  display: flex;
  align-items: center;
}

.searchbox{
  display: inline;
}

.card{
  width: 240px;
  padding: 20px 20px 20px 20px;

}

.card-img{
  padding: 10px 10px 10px 10px; 
  box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.2);
}

.card-title{
  margin: 0 0 0 0;
}

.card-status{
  display: flex;
  justify-content: end;
  margin-bottom: 0px;
}

.pagination{
  display: flex;
  justify-content: center;
}