.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header > div{
  display: flex;
  align-items: center;
}

.searchbox{
  display: inline;
}

.card{
  width: 240px;

}


.card-title{
  margin: 0 0 0 0;
}

.card-status{
  display: flex;
  justify-content: end;
}

.pagination{
  display: flex;
  justify-content: center;
}