.title-logo {
  height: 50px;
}

.first-page {
  height: 120vh;
}

.landingpage-body {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.main-text {
  margin: 30px 0 20px 0;
  color: #0037FA;
}

.main-text2 {
  width: 600px;
  margin: 0 auto 30px auto;
  text-align: left;
}

.centered {
  text-align: center;
}

.img4 {
  width: 600px;
  margin: 0 auto 0 auto;
}

.img-group {
  position: relative;
  background: linear-gradient(0deg, rgba(31,30,33,1) 0%, rgba(31,30,33,1) 5%, rgba(31,30,33,1) 100%);
  margin-top: 50px;
  height: 140vh;
}

.img-group > div > p {
  position: absolute;
  top: 82.5vh;
  left: 10vw;
  color: white;
  width: 500px;
  text-align: left;
}

.img-group > div > Button {
  position: absolute;
  top: 105vh;
  left: 10vw;
}

.img1 {
  position: absolute;
  top: 30vh;
  left: 10vw;
  border-radius: 2vw;
  width: 40vw;
}

.img2 {
  position: absolute;
  top: 35vh;
  right: 10vw;
  border-radius: 2vw;
  width: 25vw;
}

.img3 {
  position: absolute;
  top: 70vh;
  right: 10vw;
  border-radius: 2vw;
  width: 35vw;
}

.img-group2 {
  position: relative;
  height: 140vh;
  background-image: linear-gradient(rgba(0, 0, 8, 0.7),rgba(0, 0, 8, 0.7)), url(../../../public/img/landingpage-img6.jpg);
  background-size: cover;
}

.img5 {
  position: absolute;
  top: 75vh;
  right: 10vw;
  border: 1.5vw solid #18181a;
  box-shadow: 0 0 6px rgba(0, 0, 5, 0.3);
  border-radius: 1.5vw;
  width: 35vw;
}

.img-group2 > div > p {
  position: absolute;
  top: 80vh;
  left: 10vw;
  color: white;
  width: 500px;
  text-align: left;
}

.img-group2 > div > Button {
  position: absolute;
  top: 100vh;
  left: 10vw;
}