.report{
    margin: 0 auto;
    max-width: 1200px;
}
.container{
  display: flex;
  justify-content: center;
}

.title-banner {
  position: relative;
}

.title-banner-title {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50% );
  color: white
}


.report-wrap-img{
  width: 100%;
  vertical-align: middle;
  
}


.report-title {
  margin: 40px 0 0 0;
  font-size: large;
  font: 70;
}

.report-select{
  margin: 10px;
  
}

.report-content {
position: relative;
}

.report-content-paper {
  position: relative;
}

.report-content-paper-chart {
    position: absolute;
      text-align: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
}

.report-content-question {
  margin: 15px 15px 15px 15px;
  font-size: medium;
  font: 70;
}
.report-content-comment {
  margin: 0 0 0 0;
  font-size: smaller;
  font: 70;
}


.create-grid-title{
    margin-top: 1.2cm;

}
.create-grid-contents {
    margin: 10px;
}

.create-grid-contents-title1{
    border-right-width: 3px;
    border-left-color: #0037FA;
    border-left-style: solid;
}
.create-grid-contents-expired {
    display: flex;
    align-items: center;
}

.date-picker {
  height: 56px;
  width: 170px;

}

.btns {
  display: flex;
  justify-content: center;
}

.content-title-group {
  margin: 20px 0 0 0;
}